127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
{{subnet_start}}143 director01.dc.itte.com director01 director1 d1
{{subnet_start}}144 director02.dc.itte.com director02 director2 d2
{{subnet_start}}145 master01.dc.itte.com master01 master1 m1
{{subnet_start}}146 worker01.dc.itte.com worker01 worker1 w1
{{subnet_start}}147 worker02.dc.itte.com worker02 worker2 w2
{{subnet_start}}149 worker03.dc.itte.com worker03 worker3 w3
{{subnet_start}}150 worker04.dc.itte.com worker04 worker4 w4

